/* input[type="password"] {
  color: transparent;
} */



/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins/Poppins-Regular.ttf'); 
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../fonts/poppins/Poppins-Medium.ttf'); 
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/poppins/Poppins-Bold.ttf'); 
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url('../fonts/poppins/Poppins-SemiBold.ttf'); 
}

/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

body, html {
	height: 100%;
  font-family: Poppins-Regular, sans-serif;
}

#linha-cadastro {
    margin-top: 5%;
}

#primeiro-container {
  padding-top: 5%;
}

.container-flex {
    padding-left: 5%;
    padding-top: 2%;
    display: flex;
    flex-direction: row;
}

.cadastro {
  height: 100%;
  width: 100%;
  background-color: #ebeeef;
  }
  
#texto-label {
  font-family: Poppins-Regular;
  font-size: 15px;
  color: #808080;
  line-height: 2.2;
  font-weight: normal;
}

#texto-label-categoria{
  font-family: Poppins-Regular;
  font-size: 15px;
  color: #808080;
  font-weight: normal;
}

#label-sexo {
  font-family: Poppins-Regular;
    font-size: 15px;
    color: #555555;
}

#texto-campo-obrigatorio {
  font-family: Poppins-Regular;
  font-size: 15px;
  color: #808080;
  font-weight: normal;
}

#area-cadastro-modal {
    width: 110%;
    height: 500px;
    background: #fff;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    position: relative;
}


#area-cadastro-modal2 {
  width: 110%;
  height: 285px;
  background: #fff;
  border-radius: 10px 10px 0px 0px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
  position: relative;
}


#banner {
  width: 98%;
    margin-left: 8px;
    margin-top: -47px;
    height: 28px;
    background-color: rgba(54,84,99, 1);
    border-radius: 10px 10px 0px 0px;
    z-index: 1;
  }

#banner img {
  margin-left: 90%;
  margin-top: 40px;
}

#texto-label2 {
  font-family: Poppins-Regular;
  font-size: 15px;
  color: #808080;
  line-height: 2.2;
  font-weight: normal;
  margin-left: -2%;
 
}

#texto-label-cor {
  font-family: Poppins-Regular;
  font-size: 15px;
  color: #808080;
  line-height: 2.2;
  font-weight: normal;
  margin-left: 12%;
}

#txtMensagem {
  margin-left: 4%;
}

#foto {
  padding-top: 4%;
}

#botao1:hover, #botao2:hover, #botao3:hover{
background-color: #694077;
}

#botao3 {
  right: 0px;
  position: absolute;
  border: black;
}

.item { /*Corresponde aos botoes*/
  padding-left: 10px;
}

#titulo {
  position: absolute;
  top: 10%;
  left: 16%;
}


#botoes {
  height: 40px !important;
    border: 0px solid #000;
    background: transparent;
    color: #EEE;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    border-right: 1px solid #4B4B4B;
    border-color: #4B4B4B;
    margin: 0px;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-property: color,background;
}

#area-botao {
  color: white;
    background-color: black;
    width: 1055px;
    margin-left: -60px;
    height: 40px;
    margin-top: 0px;
    position: absolute;
    display: flex;
    flex-direction: row;
}
#area-cadastro {
    width: 90%;
    margin-left: -56px;
    height: 182px;
    margin-left: -50%;
    background: #fff;
    margin-left: 10%;
    padding: 5%;
    box-shadow: 0px 0px 6px rgba(0,0,0,0.5);
 
}

.modal-container{
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, .5);
    z-index: 2000;
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
}


.modal-container.mostrar {
    display: flex;
}

.mostrar .objetos-modal {
    animation: objetos-modal .3s;
}

.mostrar .documentos-modal {
  animation: documentos-modal .3s;
}


@keyframes objetos-modal {
    from {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}


@keyframes documentos-modal {
  from {
      opacity: 0;
      transform: translate3d(0, -60px, 0);
  }

  to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
  }
}


.fechar {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 4px solid white;
    cursor: pointer;
}




/*---------------------------------------------
SEGUNDO MODAL
---------------------------------------------*/
.form-horizontal2 {
  margin-top: -10%;
}



/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}


.wrap-input100 {
  width: 90%;
  position: relative;
  border-bottom: 1px solid #b2b2b2;
}


.input100 {
  font-family: Poppins-Regular;
  font-size: 15px;
  color: #555555;
  line-height: 1.2;

  display: block;
  width: 100%;
  background: transparent;
  padding: 0 5px;
}

.focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input100::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 0;
  height: 1px;

  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  -moz-transition: all 0.6s;
  transition: all 0.6s;

  background: rgba(54,84,99, 1);
}

/*---------------------------------------------*/
input.input100 {
  height: 45px;
}


.input100:focus + .focus-input100::before {
  width: 100%;
}

.has-val.input100 + .focus-input100::before {
  width: 100%;
}

/*------------------------------------------------------------------
[ Button ]*/

.login100-form-btn {
  min-width: 120px;
  height: 27px;
  background-color: rgba(54,84,99, 1);
  border-radius: 10px;
  font-family: Poppins-Regular;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  margin-left: 10%;
  margin-top: 10%;
}

.login100-form-btn:hover {
  background-color: #694077;
}

/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 576px) {
  .login100-form {
    padding: 43px 15px 57px 117px;
  }
}

@media (max-width: 480px) {
  .login100-form {
    padding: 43px 15px 57px 15px;
  }

  .label-input100 {
    text-align: left;
    position: unset;
    top: unset;
    left: unset;
    width: 100%;
    padding: 0 5px;
  }
}
@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}


