@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);
	*{
		margin: 0;
		padding: 0;
	}

	body{
		background-color: #ddd;
		font-family: 'Roboto Condensed';
	}

	.nav_tabs{
		width: 600px;
		height: 230px;
		margin: 100px auto;
		background-color: #fff;
		position: relative;
	}

	.nav_tabs ul{
		list-style: none;
	}

	.nav_tabs li{
		width: 25%;
	}

	.nav_tabs ul li{
		float: left;
	}

	.tab_label{
		display: block;
		
		background-color: #363b48;
		padding: 2px 10px;
		font-size: 20px;
		color:#fff;
		cursor: pointer;
		text-align: center;
	}


	.nav_tabs .rd_tab { 
	display:none;
	position: absolute;
}

.nav_tabs .rd_tab:checked ~ label { 
	background-color: rgba(54,84,99, 1);
    color: white;}

.tab-content{
	border-top: solid 2px rgba(54,84,99, 1);
	background-color: #fff;
	display: none;
	position: absolute;
	height: 195px;
	width: 600px;
	left: 0;	
}

.rd_tab:checked ~ .tab-content{
	display: block;
}
.tab-content h2{
	padding: 10px;
	color: #87d3b7;
}
.tab-content article{
	padding: 10px;
	color: #555;
}